menu "Nuvoton Packages Config"

    source "$(BSP_DIR)/../libraries/nu_packages/Sensors/Kconfig"

    source "$(BSP_DIR)/../libraries/nu_packages/AudioCodec/Kconfig"

    source "$(BSP_DIR)/../libraries/nu_packages/Displays/Kconfig"

    source "$(BSP_DIR)/../libraries/nu_packages/Touch/Kconfig"

    source "$(BSP_DIR)/../libraries/nu_packages/Storages/Kconfig"

    source "$(BSP_DIR)/../libraries/nu_packages/Others/Kconfig"

    source "$(BSP_DIR)/../libraries/nu_packages/Demo/Kconfig"

endmenu
